 @import url("https://use.typekit.net/ost1kus.css");

 .rw {
     display: inline-flexbox;
 }

 .wcard {
     margin: 2em auto;

 }



 .wcard img {
     display: initial;
 }

 .wcard .title {
     font-family: raleway,
         sans-serif;
     font-weight: 900;
     font-style: normal;
     color: #001100;
     font-size: 1.5em;
 }

 .wcard .subTitle {
     font-family: raleway,
         sans-serif;
     font-weight: 400;
     font-style: italic;
 }

 .wcard .bodyCopy {
     font-family: raleway,
         sans-serif;
     font-weight: 400;
     font-style: normal;
 }

 .wcard button {
     width: 8em;
     font-family: raleway,
         sans-serif;
     font-weight: 400;
     font-style: normal;
 }

 @media (max-width: 500px) {
     .wcard {
         margin: 2em 0;
     }

     .rw {
         display: flexbox;
     }

     .wcard .title {
         font-family: raleway,
             sans-serif;
         font-weight: 900;
         font-style: normal;
         color: #001100;
         font-size: 1em;
     }

     .wcard .bodyCopy {
         font-family: raleway,
             sans-serif;
         font-weight: 400;
         font-style: normal;
         font-size: 1em;
     }

     .wcard button {
         width: 1em;
         font-family: raleway,
             sans-serif;
         font-weight: 400;
         font-style: normal;
         font-size: 1em;
     }
 }