@import url('https://use.typekit.net/ost1kus.css');

.card {
  width: 40%;
  height: 35rem;
  margin: 1em 5%;
  float: left;
  transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
  -o-transition: 0.2s ease all;
}

.card:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.title.card-title {
  font-family: raleway, sans-serif;
  font-weight: 900;
  font-style: normal;
  color: #001100;
  font-size: 1.5em;
  text-transform: capitalize;
}

.card .subTitle {
  font-family: raleway, sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 1.2em;
}

.card .bodyCopy {
  font-family: raleway, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: normal;
  font-size: 1em;
}

.card button {
  position: fixed bottom;
  width: 8em;
  font-family: raleway, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1em;
}

@media (max-width: 1024px) {
  .card {
    width: 90%;
    height: auto;
    margin: 2em 5%;
    float: center;
  }

  .title.card-title {
    font-family: raleway, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #001100;
    font-size: 2em;
    text-transform: capitalize;
  }

  .card .subTitle {
    font-family: raleway, sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 1em;
  }

  .card .bodyCopy {
    font-family: raleway, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: normal;
    font-size: 1em;
  }

  .card button {
    font-family: raleway, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
  }
}

@media (max-width: 500px) {
  .card {
    width: 90%;
    height: auto;
    margin: 2em 5%;
    float: center;
  }

  .title.card-title {
    font-family: raleway, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #001100;
    font-size: 1.5em;
    text-transform: capitalize;
  }

  .card .subTitle {
    font-family: raleway, sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 1em;
  }

  .card .bodyCopy {
    font-family: raleway, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: normal;
    font-size: 1em;
  }

  .card button {
    font-family: raleway, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
  }
}
