 @import url("https://use.typekit.net/ost1kus.css");


 .Collapsible button {
     display: none;
 }

 .rw {
     width: 100%;
     display: initial;
 }



 .mobileContain {
     display: none;
 }

 .card {
     width: 16em;
     height: auto;

 }

 .card .title {
     font-family: raleway,
         sans-serif;
     font-weight: 900;
     font-style: normal;
     color: #001100;
     font-size: 1.2em;
 }

 .card .subTitle {
     font-family: raleway,
         sans-serif;
     font-weight: 400;
     font-style: italic;
     font-size: 1em;
 }

 .card .bodyCopy {
     font-family: raleway,
         sans-serif;
     font-weight: 400;
     font-style: normal;
     font-size: normal;
     font-size: 1em;
 }

 .card button {
     width: 4em;
     font-family: raleway,
         sans-serif;
     font-weight: 400;
     font-style: normal;
     font-size: 1em;
 }

 @media screen and (max-width: 1024px) {
     .Collapsible button {
         display: unset;

     }

     button.Collapsible__trigger.is-closed {
         margin: 0 auto;
         width: 4em;
         height: 2em;

     }

     button.Collapsible__trigger.is-open {}

     .rw {
         display: none;
     }

     .mobileContain {
         display: block;
         width: 20em;
         margin: 1em auto;
     }

     .mobileContain .title {
         font-family: raleway,
             sans-serif;
         font-weight: 900;
         font-style: normal;
         color: #001100;
         font-size: 1.3em;
     }

     .mobileContain .bodyCopy {
         font-family: raleway,
             sans-serif;
         font-weight: 400;
         font-style: normal;
         font-size: 1em;
     }

     .mobileContain button {
         width: 4em;
         font-family: raleway,
             sans-serif;
         font-weight: 400;
         font-style: normal;
         font-size: 1em;
         padding: 0;
     }
 }